/**
 * Copyright © 2020 Banca D'Italia
 *
 * Licensed under the EUPL, Version 1.2 (the "License");
 * You may not use this work except in compliance with the
 * License.
 * You may obtain a copy of the License at:
 *
 * https://joinup.ec.europa.eu/sites/default/files/custom-page/attachment/2020-03/EUPL-1.2%20EN.txt
 *
 * Unless required by applicable law or agreed to in
 * writing, software distributed under the License is
 * distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied.
 *
 * See the License for the specific language governing
 * permissions and limitations under the License.
 */

test := avg('ECB:EXR(1.0)/D.USD+GBP.EUR.SP00.A'[keep 'OBS_VALUE'] group all identifier end_p := time_agg(M, _, 'TIME_PERIOD', last)]
		[aggr average := avg('OBS_VALUE'), rep_days := count() group except 'TIME_PERIOD']
		[filter rep_days = cast(cast(end_p, string, "DD"), integer)];

/*
define datapoint ruleset currency_ranges ( variable 'ECB:CURRENCY(1.0)' as currency, 'ECB:OBS_VALUE(1.0)' as value ) is
	when currency = "USD" then between(value, 0.70, 1.00) errorcode "outlier" errorlevel 1;
	when currency = "GBP" then between(value, 0.95, 1.20) errorcode "outlier" errorlevel 1
end datapoint ruleset;

test := check_datapoint('ECB:EXR(1.0)/D.USD+GBP.EUR.SP00.A', currency_ranges);
*/