compOfBasket := 'sdmx:ECB.ICP.M.U2.N.010000.4.ANR'[keep OBS_VALUE][calc identifier YEAR := cast(time_agg("A", TIME_PERIOD), time, "")];
compWeight := 'sdmx:ECB.ICP.A.U2.N.010000.4.INW'[keep OBS_VALUE][rename OBS_VALUE to WEIGHT, TIME_PERIOD to YEAR];
monthlyWeight := inner_join(compWeight, compOfBasket)[keep WEIGHT][rename WEIGHT to OBS_VALUE] / 1000;
expected := 'sdmx:ECB.ICP.M.U2.N.010000.3.CTG'[keep OBS_VALUE];
calculated := compOfBasket * monthlyWeight;

/*occhio alle parentesi*/
errors := inner_join(calculated, expected)
[rename expected#OBS_VALUE to expected, calculated#OBS_VALUE to calculated]
[calc errorPerc := abs((calculated - expected) / expected) * 100];
