target
dependency-reduced-pom.xml
**/*.tmp
hs_err_*
**/*.orig
.R*
.externalToolBuilders
vtl-launcher/test_data/ecbexr.csv
**/target
**/.flattened-pom.xml
**/.tracecompass/**
**/*.orig
**/.classpath
**/.project
**/.settings
.classpath
.project
.settings
**/.evosuite
vtl-launcher/src/main/java/it/bancaditalia/oss/sdmx/util/SdmxConfiguration.java
