target
dependency-reduced-pom.xml
**/*.tmp
**/*.ipynb*
hs_err_*
**/*.orig
**/*.pydevproject
.R*
.externalToolBuilders
**/target
**/.flattened-pom.xml
**/.tracecompass/**
**/*.orig
**/.classpath
**/.factorypath
**/.project
**/.settings
.classpath
.project
.settings
**/.evosuite
vtl-launcher/src/main/java/it/bancaditalia/oss/sdmx/util/SdmxConfiguration.java
.Rproj.user
vtl-launcher/src/test/java/it/bancaditalia/oss/vtl/it/custom/
