<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="vtl-eclipse-app">
         <property
               name="appName"
               value="vtl-eclipse-app">
         </property>
         <property
     name="applicationCSS"
     value="platform:/plugin/vtl-eclipse-plugin/css/default.css">
     </property>
      </product>
   </extension>

</plugin>
