<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="vtl_eclipse_app"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="VTL Editor">
         <property
               name="appName"
               value="VTL Editor">
         </property>
         <property
               name="cssTheme"
               value="default">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="default"
            label="default">
      </theme>
   </extension>
 </plugin>
