#*
 * Copyright © 2020 Banca D'Italia
 *
 * Licensed under the EUPL, Version 1.2 (the "License");
 * You may not use this work except in compliance with the
 * License.
 * You may obtain a copy of the License at:
 *
 * https://joinup.ec.europa.eu/sites/default/files/custom-page/attachment/2020-03/EUPL-1.2%20EN.txt
 *
 * Unless required by applicable law or agreed to in
 * writing, software distributed under the License is
 * distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied.
 *
 * See the License for the specific language governing
 * permissions and limitations under the License.
 *#
<div class="header text-center text-light" role="main">
	<div class="container container-fluid">
		<div class="header--subhead">
			<div id="banner" class="header__banner">
				<a href="." class="d-inline-block">
					<img style="vertical-align: middle;" class="m-2" src="$resourcePath/images/logo.svg"
						alt="$esc.html($decoration.bannerLeft.alt)" width="$decoration.bannerLeft.width"
						height="$$decoration.bannerLeft.height" />
				</a>
				<h1 class="d-inline-block">$decoration.bannerLeft.name</h1>
				<p class="lead">$config.slogan.getValue()</p>
			</div>
			<p>
				<a href="$resourcePath/documentation.html#get-started"
					class="btn btn-lg mb-2 mr-2 ml-2">
					<span class="btn__link-icon">
						<!-- MACRO{snippet|file=src/site/svg/pentone.svg|verbatim=false|ignoreDownloadError=false} -->
					</span>
					<span class="btn__link-text">Get Started</span>
				</a>
			</p>
		</div>
	</div>
</div>

<div class="container highlight highlight-about">
	<div class="row">
		<div class="col-sm-6">
			<h2>
				VTL <span class="color-highlight">E&amp;E</span>
			</h2>
			<p>is an interpreter engine and an editor for the 
			   <a href="https://sdmx.org/?page_id=5096">Validation and Transformation Language</a>,
			   a declarative, metadata-driven language with the goal of ensuring uniform data quality 
			   across entities.</p>
			<p>Developed by Bank of Italy within the SDMX Tools Task Force of the Statistics 
			   Committee (STC), an organism of the Working Group on Statistical Information Management (WGSIM).
			</p>
		</div>
		<div class="col-sm-offset-1 col-sm-5 text-right">
			<!-- MACRO{snippet|file=src/site/svg/cogs.svg|verbatim=false|ignoreDownloadError=false} -->
		</div>
	</div>
</div>

<div class="highlight highlight-responsive-layout">
	<div class="container">
		<div class="row">
			<div class="col">
				<!-- MACRO{snippet|file=src/site/svg/layers.svg|verbatim=false|ignoreDownloadError=false} -->
			</div>
			<div class="col text-right">
				<h2>Minimalist design</h2>
				<p>Just install the R package to feature a full-fledged VTL code editor with VTL syntax highlighting
					and code suggestions.</p>
				<p>Browse the results as you write, via just-in-time rule evaluation, and keep your model clean with a 
					top-down view of dependencies between the rules.</p>
				<p>Starting with the editor is as easy as installing the R package: no need for any other tool,
					such as databases, web servers, compilers or others.</p>
				<p class="text-center">
					<a class="btn btn-outline-primary btn-lg mb-2 mr-2 ml-2 pill-btn"
						href="$resourcePath/structure.html">Read more »</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="highlight highlight-general">
	<div class="container">
		<div class="card-group">
			<div class="card border-0">
				<div class="text-center">
					<h3>Modelize</h3>
					<!-- MACRO{snippet|file=src/site/svg/roller.svg|verbatim=false|ignoreDownloadError=false} -->
				</div>
				<div class="card-body">
					<ul>
						<li>
							<b>Digest external data sources</b>
							- Use connectors to plug into your enterprise data sources.
						</li>
						<li>
							<b>Model</b>
							- Write as many rules as you want and test them on-the-fly.
						</li>
						<li>
							<b>Immediate feedback</b>
							- Get an immediate feedback if something is wrong with your rules.
						</li>
						<li>
							<b>Dependecies under control</b>
							- An interactive graph view of your model is always available.
						</li>
					</ul>
				</div>
				<div class="card-footer border-0 bg-transparent text-center">
					<a class="btn btn-outline-primary btn-lg mb-2 mr-2 ml-2 pill-btn"
						href="documentation.html#get-started">Read more »</a>
				</div>
			</div>
			<div class="card border-0">
				<div class="text-center">
					<h3>Contribute</h3>
					<!-- MACRO{snippet|file=src/site/svg/contribute.svg|verbatim=false|ignoreDownloadError=false} -->
				</div>
				<div class="card-body">
					<p>VTL E&amp;E is an <a href="${scm-url}">open source</a> project lead by Bank of Italy and built with
						<a href="http://maven.apache.org" target="_blank" rel="noopener">Apache Maven</a>.</p>
					<p>The project is licensed under the <a href="${license-url}" target="_blank" rel="noopener">European Public License 1.2.</a></p>
					<p>Any contribution is welcome! Feel free to report any issue, suggest a new feature, or propose new code.</p>
				</div>
				<div class="card-footer border-0 bg-transparent text-center">
					<a class="btn btn-outline-primary btn-lg mb-2 mr-2 ml-2 pill-btn"
						href="$resourcePath/development-documentation.html#dev-contribute">Contribute »</a>
				</div>
			</div>
		</div>
	</div>
</div>
