#*
 * Copyright © 2020 Banca D'Italia
 *
 * Licensed under the EUPL, Version 1.2 (the "License");
 * You may not use this work except in compliance with the
 * License.
 * You may obtain a copy of the License at:
 *
 * https://joinup.ec.europa.eu/sites/default/files/custom-page/attachment/2020-03/EUPL-1.2%20EN.txt
 *
 * Unless required by applicable law or agreed to in
 * writing, software distributed under the License is
 * distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied.
 *
 * See the License for the specific language governing
 * permissions and limitations under the License.
 *#
#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')
#set($h5 = '#####')
#set($RCODE = '```R')
#set($CSTART = '```R')
#set($CEND = '```')

$h1 Setting up the VTL Spark environment

$h2 Download and install Apache Spark™

Refer to the product site to download and install Apache Spark™ on your machine.

You don't need to download or install it if an installation folder is already accessible.

Usually, a Spark installation is self-contained and does not require additional libraries 
to be installed in the client system. 

$h2 `SPARK_HOME` environment variable and classpath 

In order to use the VTL Spark environment from VTL Studio, you need to set the environment 
variable SPARK_HOME to the absolute path of the Spark installation.

If the variable is not set system.wide, you may do that using `Sys.setenv()` directly 
from the R prompt, before starting VTL Studio.

In order to use the VTL Spark environment outside VTL Studio, for example from the CLI or
the REST web services, you need to instead add the needed Spark jars to the classpath.

To set the classpath, please refer to OpenJDK or the servlet-compliant server documentation.

$h2 Enabling the environment in VTL Studio

If you have followed the setup instructions, when loading the RVTL package,
the Spark environment will be loaded as disabled.

In VTL Studio settings tab, drag "Spark Environment" from the "Available Environments"
section to the "Enabled Environments" section.

In the environment properties, select "Spark Environment" from the dropdown list, 
then, in the "Select property" dropdown, select the MASTER property, and set the master 
URL. 

If you don't know the URL, please contact your IT representative. For testing purposes,
you may also set "local" as the master url, in which case Spark will be launched from inside 
R. Note that this approach may cause high memory consumption on your computer. 

The Spark environment will remain active until you disable it or quit R.   