/**
 * Copyright © 2020 Banca D'Italia
 *
 * Licensed under the EUPL, Version 1.2 (the "License");
 * You may not use this work except in compliance with the
 * License.
 * You may obtain a copy of the License at:
 *
 * https://joinup.ec.europa.eu/sites/default/files/custom-page/attachment/2020-03/EUPL-1.2%20EN.txt
 *
 * Unless required by applicable law or agreed to in
 * writing, software distributed under the License is
 * distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied.
 *
 * See the License for the specific language governing
 * permissions and limitations under the License.
 */
/* Load dataset 1 from csv */
ds1:= 'csv:ratiotoreport.csv';
result:= ds1[calc Me_3 := last_value(Me_1 over (partition by Id_1, Id_2 order by Id_3))];
ref_output := 'csv:last_value_2.csv';
tmp_result1 := (result#Me_1 = ref_output#Me_1)[rename bool_var to res1];
tmp_result2 := (result#Me_2 = ref_output#Me_2)[rename bool_var to res2];
tmp_result3 := (result#Me_3 = ref_output#Me_3)[rename bool_var to res3];
test_result := inner_join(tmp_result1, tmp_result2, tmp_result3);