<!--

    Copyright © 2020 Banca D'Italia

    Licensed under the EUPL, Version 1.2 (the "License");
    You may not use this work except in compliance with the
    License.
    You may obtain a copy of the License at:

    https://joinup.ec.europa.eu/sites/default/files/custom-page/attachment/2020-03/EUPL-1.2%20EN.txt

    Unless required by applicable law or agreed to in
    writing, software distributed under the License is
    distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
    express or implied.

    See the License for the specific language governing
    permissions and limitations under the License.

-->
<Configuration xmlns="https://logging.apache.org/xml/ns"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://logging.apache.org/xml/ns https://logging.apache.org/xml/ns/log4j-config-2.xsd"
    status="INFO"
    strict="true"
    name="it.bancaditalia.oss.vtl">

    <Appenders>
        <Console name="STDERR1">
            <Filters>
                <ThresholdFilter level="TRACE"/>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="%-5p %d{dd/MM/yyyy HH:mm:ss} [%c{-3}/%L/%t] - %m%n"/>
        </Console>
        <Console name="STDERR2" target="SYSTEM_ERR">
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
            <PatternLayout pattern="%-5p %d{dd/MM/yyyy HH:mm:ss} [%c{-3}/%t] - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="it.bancaditalia.oss.vtl" level="DEBUG" additivity="false">
            <AppenderRef ref="STDERR1"/>
            <AppenderRef ref="STDERR2"/>
        </Logger>

        <Root level="OFF">
            <AppenderRef ref="STDERR1"/>
            <AppenderRef ref="STDERR2"/>
        </Root>
    </Loggers>
</Configuration>
