name: VTL Engine builds

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: true
      matrix:
        config:
          - {os: windows-latest, r: '3.6.3'}
          - {os: macOS-latest, r: '3.6.3'}
          - {os: ubuntu-18.04, r: '3.6.3', rspm: "https://packagemanager.rstudio.com/cran/__linux__/bionic/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    
    - name: Setup R
      uses: r-lib/actions/setup-r@v1
      with:
        r-version: ${{ matrix.config.r }}
    
    - name: Generate RVTL DESCRIPTION file
      run: mvn -pl .,RVTL -P with-r --file pom.xml -Dgpg.skip=true org.apache.maven.plugins:maven-resources-plugin:3.1.0:resources

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Cache R packages
      if: runner.os != 'Windows'
      uses: actions/cache@v2
      with:
        path: ${{ env.R_LIBS_USER }}
        key: ${{ runner.os }}-r-${{ matrix.config.r }}-1-${{ hashFiles('.github/depends.Rds') }}
        restore-keys: ${{ runner.os }}-r-${{ matrix.config.r }}-1-
    
    - name: Install system dependencies
      if: runner.os == 'Linux'
      env:
        RHUB_PLATFORM: linux-x86_64-ubuntu-gcc
      run: |
        Rscript -e "install.packages('remotes')"
        Rscript -e "remotes::install_github('r-hub/sysreqs')"
        sysreqs=$(Rscript -e "cat(sysreqs::sysreq_commands('RVTL/target/classes/R/DESCRIPTION'))")
        sudo -s eval "$sysreqs"
    
    - name: Install dependencies
      run: |
        try(system("sudo R CMD javareconf"))
        remotes::install_cran("rJava", type = ifelse(tolower(Sys.info()[["sysname"]])=="linux","source","both"))
        remotes::install_deps(pkgdir = 'RVTL/target/classes/R', dependencies = TRUE)
      shell: Rscript {0}
    
    - name: Build with Maven
      run: mvn -P with-r --file pom.xml -Dgpg.skip=true clean install
